/* Archive cards */
.card--news {
	box-sizing: border-box;
	margin-bottom: 2rem;
	padding: 1rem;
}

.card--news .card-image a {
	display: block;
	height: 0;
	padding-bottom: 57.5%;
	position: relative;
}

.column .card--news .card-image a:hover {
	border-bottom: 1px solid transparent;
}

.card--news .card-image img {
	height: 100% !important;
	max-width: 100% !important;
	max-height: 100%;
	object-fit: cover;
	object-position: 50%;
	position: absolute;
	width: 100%;
}

.card--news .card-title {
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	margin: 1rem 0 .5rem;
}

.card--news .card-excerpt p {
	font-size: 15px;
}

.card--news .card-excerpt .more-link {
	display: none;
}

.card--news .card-cta {
	background: url(images/icon-arrow-right.svg) left center no-repeat;
	background-size: 8px;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 0 14px;
}

@media only screen and (max-width: 693px) {

	#binder .deck--news {
		width: calc(100% + 2rem);
	}
}

@media only screen and (max-width: 346px) {

	.row .deck--news {
		display: block;
	}

	.card--news {
		min-width: 0;
	}
}

/* Center of Excellence badge for home page */
.home main {
	position: relative;
}

.excellence-badge {
	height: auto;
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 180px;
	z-index: 1;
}

@media screen and (max-width: 791px) {

	.excellence-badge {
		top: calc(50px + 1rem);
	}
}

@media screen and (max-width: 693px) {

	.builder-banner-inner-content {
		justify-content: flex-end;
		padding-bottom: 2rem;
	}

	.excellence-badge {
		width: 150px;
	}
}

@media screen and (max-width: 599px) {

	.excellence-badge {
		top: calc(50px + 2rem);
		width: 125px;
	}
}

/* People cards */
.wsu-person {
	margin-bottom: 2rem;
}

.wsu-person .card {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: 140px auto;
	grid-template-rows: auto 1fr;
	padding: 1rem;
}

.wsu-person .name {
	font-size: 18px;
	font-weight: 400;
	grid-column-start: 2;
	line-height: normal;
	padding-bottom: 10px;
}

.wsu-person .photo {
	grid-row-start: 1;
	grid-row-end: 3;
}

.wsu-person .photo a {
	border-bottom: none;
}

.wsu-person .contact {
	grid-row-start: 2;
	grid-column-start: 2;
	overflow: hidden;
}

.wsu-person .contact span {
	display: block;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wsu-person .contact .title {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 6px;
}

@media only screen and (max-width: 530px) {

	.wsu-people,
	.wsu-person .card {
		display: block;
		min-width: 0;
		padding: 0;
	}

	.wsu-person {
		min-width: 0;
	}

	.wsu-person .photo {
		width: 150px;
	}
}
