/* Archive cards */
.card--news {
	box-sizing: border-box;
	margin-bottom: 2rem;
	padding: 1rem;
}

.card--news .card-image a {
	display: block;
	height: 0;
	padding-bottom: 57.5%;
	position: relative;
}

.column .card--news .card-image a:hover {
	border-bottom: 1px solid transparent;
}

.card--news .card-image img {
	height: 100% !important;
	max-width: 100% !important;
	max-height: 100%;
	object-fit: cover;
	object-position: 50%;
	position: absolute;
	width: 100%;
}

.card--news .card-title {
	font-size: 18px;
	font-weight: 400;
	line-height: normal;
	margin: 1rem 0 .5rem;
}

.card--news .card-excerpt p {
	font-size: 15px;
}

.card--news .card-excerpt .more-link {
	display: none;
}

.card--news .card-cta {
	background: url(images/icon-arrow-right.svg) left center no-repeat;
	background-size: 8px;
	font-size: 16px;
	font-weight: 400;
	padding: 0 0 0 14px;
}

@media only screen and (max-width: 693px) {

	#binder .deck--news {
		width: calc(100% + 2rem);
	}
}

@media only screen and (max-width: 346px) {

	.row .deck--news {
		display: block;
	}

	.card--news {
		min-width: 0;
	}
}

/* Center of Excellence badge for home page */
.home main {
	position: relative;
}

.excellence-badge {
	height: auto;
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 180px;
	z-index: 1;
}

@media screen and (max-width: 791px) {

	.excellence-badge {
		top: calc(50px + 1rem);
	}
}

@media screen and (max-width: 693px) {

	.builder-banner-inner-content {
		justify-content: flex-end;
		padding-bottom: 2rem;
	}

	.excellence-badge {
		width: 150px;
	}
}

@media screen and (max-width: 599px) {

	.excellence-badge {
		top: calc(50px + 2rem);
		width: 125px;
	}
}

/* People cards */
.wsu-person {
	margin-bottom: 2rem;
}

.wsu-person .card {
	display: grid;
	grid-column-gap: 1rem;
	grid-template-columns: 140px auto;
	grid-template-rows: auto 1fr;
	padding: 1rem;
}

.wsu-person .name {
	font-size: 18px;
	font-weight: 400;
	grid-column-start: 2;
	line-height: normal;
	padding-bottom: 10px;
}

.wsu-person .photo {
	grid-row-start: 1;
	grid-row-end: 3;
}

.wsu-person .photo a {
	border-bottom: none;
}

.wsu-person .contact {
	grid-row-start: 2;
	grid-column-start: 2;
	overflow: hidden;
}

.wsu-person .contact span {
	display: block;
	font-size: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wsu-person .contact .title {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 6px;
}

@media only screen and (max-width: 530px) {

	.wsu-people,
	.wsu-person .card {
		display: block;
		min-width: 0;
		padding: 0;
	}

	.wsu-person {
		min-width: 0;
	}

	.wsu-person .photo {
		width: 150px;
	}
}

/* Directory page filters */
.wsu-people-filters {
	font-size: 0;
	margin-bottom: 2rem;
}

.wsu-people-filter {
	display: inline-block;
	margin-right: 32px;
	vertical-align: top;
}

@media only screen and (max-width: 693px) {

	.wsu-people-filter {
		display: block;
		margin: 0 0 32px;
	}
}

.wsu-people-filters .search input,
.wsu-people-filter-label,
.wsu-people-filter-label:hover,
.wsu-people-filter-label:focus {
	background: none;
	border: 1px solid #a60f2d;
	border-radius: 0;
	color: #a60f2d;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: normal;
	padding: 12px 32px;
	transition: background .4s, border-color .4s, color .4s;
	width: 100%;
}

.wsu-people-filters .search input::placeholder {
	color: #a60f2d;
	font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	font-size: 12px;
	font-style: normal;
	opacity: 1;
	text-align: center;
	text-transform: uppercase;
}

.wsu-people-filters .search input:focus,
.wsu-people-filters .search input:hover,
.wsu-people-filter-label:hover,
.wsu-people-filter-label:focus,
.wsu-people-filter-label[aria-expanded="true"] {
	border: 1px solid #737373;
	color: #404040;
	outline: none;
}

.wsu-people-filters .search input:focus,
.wsu-people-filter-label:focus {
	background: #e5e5e5;
}

.wsu-people-filters .search input:focus::placeholder,
.wsu-people-filters .search input:focus:hover::placeholder {
	color: #e5e5e5;
}

.wsu-people-filters .search input:hover::placeholder {
	color: #404040;
}

.wsu-people-wrapper .wsu-people-filter-label {
	padding-right: 54px;
	position: relative;
	text-transform: uppercase;
}

.wsu-people-filter-label:before,
.wsu-people-filter-label:after {
	background-color: #a60f2d;
	content: "";
	display: block;
	position: absolute;
	transition: background .4s;
}

.wsu-people-filter-label:focus:before,
.wsu-people-filter-label:focus:after,
.wsu-people-filter-label:hover:before,
.wsu-people-filter-label:hover:after,
.wsu-people-filter-label[aria-expanded="true"]:before,
.wsu-people-filter-label[aria-expanded="true"]:after {
	background-color: #404040;
}

.wsu-people-filter-label:before {
	height: 2px;
	margin-top: -1px;
	position: absolute;
	right: 32px;
	top: 50%;
	width: 12px;
}

.wsu-people-filter-label:after {
	height: 12px;
	right: 37px;
	top: 50%;
	transform: translateY(-50%);
	transition: height .4s;
	width: 2px;
}

.wsu-people-filter-label[aria-expanded="true"]:after {
	height: 0;
}

.wsu-people-filter-terms {
	border: 1px solid #737373;
	border-top: 0;
	display: none;
	margin: 0;
	padding: 0;
}

.wsu-people-filter-terms label {
	display: block;
}

.wsu-people-filter-terms input[type="checkbox"] {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.wsu-people-filter-terms span {
	color: #404040;
	cursor: pointer;
	display: block;
	line-height: normal;
	padding: 12px 32px;
	transition: background .4s, color .4s, font-weight .4s;
}

.wsu-people-filter-terms :focus + span,
.wsu-people-filter-terms span:hover {
	background: #e5e5e5;
}

.wsu-people-filter-terms :checked + span {
	background: #a60f2d;
	color: #fff;
}

.wsu-people-filter-terms :focus + span {
	font-weight: 600;
}

.wsu-people-filter-terms :checked:focus + span,
.wsu-people-filter-terms :checked + span:hover {
	background: #ca1237;
	color: #fff;
}
